@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css);

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

p {
	margin: 0;
}

p {
	margin-bottom: 0.85em;
}

body {
  background: #fff;
  color: #555;
  font-size: 16px;
  min-width: 300px;
  font-family: 'Lato', sans-serif;
  font: 13px sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 40px;
}

img {
	display: block;
	max-width: 100%;
}

header {
  text-align: left;
  background: #5c1104;
  border-bottom: 1px solid #e6e6e6;
  display: block;
}



/* Navigation */
nav section {
  display: flex;
}


header #home {
  border-bottom: none;
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 500;
}

header #home, header li a {
  padding: 50px 20px 20px;
  display: block;
}

header a {
  text-decoration: none;
}

header #home span {
  font-weight: 200;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}

header ul {
  float: right;
  padding-bottom: 0;
}

nav li, nav ul {
  margin: 0;
  list-style: none;
  list-style-image: none;
}


header li {
  display: block;
  float: left;
  text-align: center;
  width: auto;
}

nav li, nav ul {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

header #home, header li a {
  padding: 50px 20px 20px;
  border-bottom: none;
  color: #fff;
  display: block;
}

a {
  text-decoration: none;
}

nav a:hover {
	color: royalblue;
	text-decoration: none;
}

nav #home:hover {
	color: royalblue;	
}


.clearfix::after, dl::after, footer::after, nav::after, section::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}


.intro h2 {
	text-align: center;
	font-size: 30px;
}





/*About Us*/
.about {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
}


.bio img {
	border-radius: 50%;
	padding-right: 20px;
}

.bio h1 {
	font-size: 40px;
}

.bio p {
	color: #000000;
	padding: 1em 1em;
}






/*Testimonials*/
#testimonials div {
	min-height: 740px;
	margin: 0 auto;
    border: 0;
	max-width: 1300px;
	padding: 3em 1em;
}

.link {
	font-size: 25px
}







/*gallery*/
.container {
	background-color:  slategrey;
	border: 2px solid black;
}
.row {
	margin: 15px;
  }





/*FAQ*/
.faq img {
	display: block;
    margin: 0 auto;
}

.faq h1 {
	text-align: center;
}

.faq ol {
	text-align: center;
	padding: 3em 1em;
}




/*Venue Pricing*/

.pricing-grid {
	margin-top: 20px;
	margin-right: 25px;
	margin-left: 25px;
	display: grid;
	grid-template-columns: 20fr 20fr 14fr;
	grid-template-rows: auto;
	grid-gap: 1.5em;
}


.card {
	background-color: slategrey;
	color: blanchedalmond;
	max-width: 100%;
	text-align: center;
	
}

.card p {
	font-size: 20px;
	padding-bottom: 20px;
}

.type {
	padding-bottom: 40px;
	font-size: 40px;
}

.card img {
	margin: 0 auto;
	vertical-align: baseline;
}

@media screen and (max-width: 768px) {
	.pricing-grid {
		grid-template-columns: 1fr;
	  }
	}



/*Contact Us*/
.contact-form {
	width: 80%;
	max-width: 500px;
	background: #f1f1f1;
	margin: auto;
	top: 70%;
	left: 26%;
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: "Montserrat", sans-serif;
	margin-top: 50px;
	
}

.contact-form h1{
	margin-top: 0;
	font-weight: 200;
}

.txtb {
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}

.txtb label {
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}

.txtb input, .txtb textarea {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px
}

.btn2 {
	display: inline-block;
	background: #5c1104;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
	padding-bottom: 5px;
}

#site_footer p {
	margin-top: 5px;
	padding-top: 5px;
	font-size: 18px;
}






@media (max-width: 768px) {
	body {
		height: 30vh;
	}

}
